<div class="image-frame">
	<img class="main-image" src="/app/static/img/yasuo-vs-riven.jpg" />
</div>
<div class="game-list-title">
  Game List
	<div class="game-type">
		Find more friends in games below
	</div>
</div>
<div class="row" *ngFor="let games of GameList; let i = index; trackBy: trackByFn">
  <div *ngFor="let game of games; let j = index; trackBy: trackByFn">
    <div class="col-md-4 game">
      <div class="game-block">
      <img class="game-image" src={{game.src}} />
      <div class="row game-describe">
        <div class="game-name">{{game.name}}</div>
        <div class="game-type">{{game.type}}</div>
        <button class="get-info" (click)="getGameInfo(game.name)">
          MORE
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
