<div *ngIf="loggedin == false">
	<div id="wrap">
	 <div id="regbar" class="regbar">
		 <div id="navthing">
			 <div class="logo">
				 Game Sociality
			 </div>
			 <div class="nav-bar">
				 <a data-toggle="modal" data-target="#myModal">Login</a> | <a data-toggle="modal" data-target="#myModal">Register</a>
			 </div>
		 </div>
	 </div>
	</div>
</div>
<div *ngIf="loggedin">
	<div id="wrap">
		<div id="regbar" class="regbar">
			<div id="navthing">
				<div class="logo">
					Game Sociality
				</div>
				<div class="nav-bar">
					<div><a (click)="logout()">Logout</a></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade position" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="login-card">
			<div class="login-title">Login to your account</div><br>

			<input type="text" name="user" placeholder="Username" [(ngModel)]="username">
			<input type="password" name="pass" placeholder="Password" [(ngModel)]="password">
			<input type="submit" name="login" class="login login-submit" (click)="login()" data-dismiss="modal" value="Submit">
			<div class="or-text">
				<a>or</a>
			</div>
			<input type="submit" name="login" class="login login-submit" (click)="FBlogin()" data-dismiss="modal" value="Login with Facebook"/>
			<div class="login-help">
			<a href="#">Forgot Password</a>
			</div>
			</div>
		</div>

	</div>
</div>
