* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

#wrap {
  margin: 0 auto;
}

#regbar {
  height: 35px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.logo {
  color: white;
  font-size: 20px;
  float: left;
}

.modal-dialog {
  font-family: 'Open Sans', sans-serif;
}

.modal-header {
  background-color: #F7F7F7;
  border: none;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

.regbar {
  padding-top: 6px;
}

.nav-bar {
  float: right;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar a {
  color: #ecf0f1;
  text-decoration: none;
}
.nav-bar a:hover {
  color: #1abc9c;
}

.close {
  margin-right: 10px!important;
  margin-top: 10px!important;
}

.modal * {
    margin: auto;
}

.position {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.login-title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}

.login-card {
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  display: -webkit-box;
  margin: auto;
  width: 50%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  display: -webkit-box;
  margin: auto;
  height: 44px;
  font-size: 16px;
  width: 50%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  display: -webkit-box;
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help a:hover {
  opacity: 1;
}

.or-text {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px!important;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.game-list-title {
  font-style: oblique;
  font-size: 45px;
  text-align: center;
  font-family: 'Revalia', cursive;
  margin-bottom: 20px;
  .game-type {
    color: #000000;
    margin-top: 10px;
    font-size: 15px;
  }
}

.image-frame {
  top: 35px;
}

.main-image {
  width: 100%;
}

.game {
  margin-bottom:1px;
}

.game-block {
  margin: auto;
  display: block;
  text-align: center;
  width: 99%;
}

.game-image {
  width: 100%;
}

.game-name {
  margin-top: 5px;
  font-size: 25px;
}

.game-type {
  color: #cabdbd;
  margin-top: 10px;
  font-size: 15px;
}

.get-info {
  margin-top: 30px;
  font-size: 20px;
  width: 50%;
  background-color: black;
  border: none;
}

.game-describe {
  font-family: 'Open Sans', sans-serif;
  background-color:#34495e;
  color: white;
  padding-bottom: 10px;
}

.game-title {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.game-content {
  margin: auto;
  margin-top: 20px;
  display: block;
  text-align:justify;
  width: 90%;
  font-family: 'Open Sans', sans-serif;

}
